name: CI

on:
  push:
    branches:
      - master
      - CI
  pull_request:
  schedule:
    - cron: "0 12 * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: crystal-lang/install-crystal@v1
        with:
          crystal: latest
      - name: lint
        run: crystal tool format --check src/
      - name: install dependencies
        run: |
          sudo apt-get install libdbus-1-dev libnotify-dev
          shards install
      - name : build
        run: crystal build src/notify.cr
      # - name: Run specs
      #   run: crystal spec
